<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Create a post</h1>
        <form method = 'post'>
            {% csrf_token %}
            <input type = 'text' name = 'title' placeholder="Post Title"><br>
            <textarea name = 'content' placeholder="Your content"></textarea><br>
            <input type = 'submit' value  = 'Publish'>
            {% for message in messages %}
            <h3> {{message}}</h3>
            {%endfor%}
        </form>
    </div>
    {% for Post in Publicaciones %}
    <div>
        {{Post.Title}}<br> {{Post.Content}} <br> Likes:{{Post.Likes}} <br>
        <form action = "{% url 'delete' %}" method="post">
            {% csrf_token %}
            <input type = 'hidden' name = 'post_id' value = {{Post.id}}>
            <input type = 'submit' name = 'delete' value = 'delete'>
        </form>
    </div> <br>
    {%endfor%}

    <a href = '/'>Main Page</a>


    
</body>
</html>