<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>

    <div class = 'Page'>
        <div class = 'Content'>
            <h1>Main Page</h1>
        </div>

        <div class = 'buttons'><a href = 'accounts/register'>Register</a></div>
        <div class = 'buttons'><a href = 'accounts/login'>login</a></div>
    </div> <br>

    <div>
        {% for post in PostData %}
        <div class = 'post'>
            {{post.Title}}<br> {{post.Content}} <br> -{{post.Owner}} <br> Likes:{{post.Likes}} <br>
            <div class = 'commentBox'>
                {%for comment in post.Comments%}
                <div class = 'comment'>
                    {{comment.author}}: {{comment.Content}}<br>
                </div>
                {%endfor%}
            </div> 
            <form action="{% url 'like' %}" method="post">
                {% csrf_token %}
                <input type = 'hidden' name = 'Post_id' value = '{{post.id}}'>
                <input type = 'submit' name ='Like' value = 'like'>
            </form>
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <input type = 'hidden' name = 'Post_id' value = '{{post.id}}'>
                <textarea name = 'comment' placeholder="Comment"></textarea>
                <input type = 'submit'>
            </form>
        </div> <br>
    </div>
    {%endfor%}

</body>
</html>